In [2]:
import pandas as pd
df=pd.read_csv("Cereals.csv")

In [2]:
import pandas as pd
df=pd.read_csv("Cereals.csv")
df.describe()

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [16]:
import pandas as pd
df=pd.read_csv("Cereals.csv")
df=df.mask(df==-1).fillna(df.mean())
print (df)

                      name mfr type  calories  protein  fat  sodium  fiber  \
0           100NaturalBran   Q    C       120        3    5      15    2.0
1                 All-Bran   K    C        70        4    1     260    9.0
2   All-BranwithExtraFiber   K    C        50        4    0     140   14.0
3            AlmondDelight   R    C       110        2    2     200    1.0
4    AppleCinnamonCheerios   G    C       110        2    2     180    1.5
..                     ...  ..  ...       ...      ...  ...     ...    ...
71                 Triples   G    C       110        2    1     250    0.0
72                    Trix   G    C       110        1    1     140    0.0
73               WheatChex   R    C       100        3    1     230    3.0
74                Wheaties   G    C       100        3    1     200    3.0
75       WheatiesHoneyGold   G    C       110        2    1     200    1.0

    carbo  sugars      potass  vitamins  shelf  weight  cups     rating
0     8.0     8.0  135.000000         0      3     1.0  1.00  33.983679
1     7.0     5.0  320.000000        25      3     1.0  0.33  59.425505
2     8.0     0.0  330.000000        25      3     1.0  0.50  93.704912
3    14.0     8.0   93.657895        25      3     1.0  0.75  34.384843
4    10.5    10.0   70.000000        25      1     1.0  0.75  29.509541
..    ...     ...         ...       ...    ...     ...   ...        ...
71   21.0     3.0   60.000000        25      3     1.0  0.75  39.106174
72   13.0    12.0   25.000000        25      2     1.0  1.00  27.753301
73   17.0     3.0  115.000000        25      1     1.0  0.67  49.787445
74   17.0     3.0  110.000000        25      1     1.0  1.00  51.592193
75   16.0     8.0   60.000000        25      1     1.0  0.75  36.187559

[76 rows x 16 columns]

C:\Users\mca\AppData\Local\Temp\ipykernel_12188\80018696.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.mask(df==-1).fillna(df.mean())

In [29]:
print('Create a table with the 5-number summary of all the numeric attributes after treating missing values. Do you think the strategy used in dealing with missing values was effective?')
import pandas as pd
df=pd.read_csv("Cereals.csv")
df.describe()

Create a table with the 5-number summary of all the numeric attributes after treating missing values. Do you think the strategy used in dealing with missing values was effective?

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [27]:
print('For each of the numeric attributes (proteins up to vitamins), identify and replace all noisy data with the median of attribute.')
medians = df.median()
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
df['lower_bound'] = Q1 - 1.5 * IQR
df['upper_bound'] = Q3 + 1.5 * IQR

for column in df.columns[3:12]:
    is_outlier = (df[column] < df['lower_bound']) | (df[column] > df['upper_bound'])
    df2=df.replace(is_outlier,medians)

df2

For each of the numeric attributes (proteins up to vitamins), identify and replace all noisy data with the median of attribute.

TypeError: could not convert string to float: '100NaturalBran'

In [24]:
print('Create a table with the 5-number summary of all the numeric attributes after treating noisy values. Do you think the strategy used in dealing with noisy values was effective?')
df.describe()

Create a table with the 5-number summary of all the numeric attributes after treating noisy values. Do you think the strategy used in dealing with noisy values was effective?

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912